.statistics-title {
  margin-top: 10;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
}

.statistics-item {
  font-weight: 500;
  font-size: 30px;
}

.statistics-item:not(:last-child) {
  margin-bottom: 15px;
}
